.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #D6D6D6;
}

.main {
    padding: 0 0.5rem 2rem 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main h1 {
    color: white;
    font-size: 3.5em;
    /*margin:0;*/
}

.main .buttons {
    display: flex;
    flex-direction: row;
}

.buttons .button {
    color: white;
    width: 250px;
    height: 75px;
    margin: 25px;
    border-radius: 10px;
    background-color: #F58F7C;
    transition-duration: 0.4s;
    border: 1px solid #eaeaea;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #F58F7C;
}

.buttons p {
    font-weight: 600;
    font-size: 18px;
    margin:0;
}

.main .boxes {
    display: flex;
    flex-direction: row;
}

.footer {
    width: 100%;
    height: 125px;
    background-color: white;
    border-top: 1px solid #eaeaea;
}

.footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content p {
    color: #4F4F51;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.content .logo {
    height: 55px;
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.modal.open {
    display: block;
}

.modalBox {
    display: flex;
    width: 100%;
    height: 100%;
}

.modalContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    width: auto;
    height: 200px;
    background-color: #fefefe;
    padding: 30px 60px 20px 60px;
    border: 1px solid #888;
}


.close {
    color: #4F4F51;
    font-size: 28px;
    height: 40px;
    font-weight: bold;
    background-color: white;
    border: none;
    transition-duration: 0.3s;
    padding: 0 15px;
}

.close:hover{
    color: white;
    background-color: #F58F7C;
    text-decoration: none;
    cursor: pointer;
}

.navSearchContainer {
    display: flex;
    justify-content: center;
}

.searchInput {
    display: block;
    width: 400px;
    height: 40px;
    padding: 10px 15px;
    border: 1px solid #aaaaaa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.formButton{
    width: 125px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    background-color: #F58F7C;
    border: 1px solid #aaaaaa;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.closeContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.messageContainer {
    display: flex;
    text-align: center;
    display: none;
}

.messageContainer.open {
    display: block;
}