/*controls-styles the entire page display*/
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #D6D6D6;
}

/*controls the body display*/
.main {
  padding: 2rem 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*styles the h1 tag*/
.main h1 {
  color: white;
  font-size: 3.5em;
  margin:0;
}

/*styles the h2 tag*/
.main h2 {
  color: white;
  font-size: 2em;
}

/*styles the main button*/
.button {
  color: white;
  width: 250px;
  height: 75px;
  margin: 25px;
  border-radius: 10px;
  background-color: #F58F7C;
  transition-duration: 0.4s;
  border: 1px solid #eaeaea;
  cursor: pointer;
  outline:none;
}

.button:hover {
  background-color: white;
  color: #F58F7C;
  border: none;
}

.button p {
  font-weight: 600;
  font-size: 18px;
  margin:0;
}

/*controls the height and width of footer*/
.footer {
  width: 100%;
  height: 125px;
  background-color: white;
  border-top: 1px solid #eaeaea;
}

/*styles the content inside the footer*/
.footer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer .content p {
  color: #4F4F51;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.footer .content .logo {
  height: 55px;
  width: auto;
}
